*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}
.subtitle{
    line-height: 24px;
    font-size: 18px;
    color: #627382;
}
.title{
    font-size: bold;}

.navbar-container{
    display: flex;
    justify-content: space-around;
    padding:20px  120px;
}
.navbar-container .nav-items{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 16px;
    list-style: none;
}
.btn{
    background-color: #30B868;
    color: white;
    padding:  16px 12px;
    font-weight: 600px;
    border: none;
    border-radius: 5px;
}
.hero-container{
    background-image: url(./images/hero-bg.png);
}
.hero-container .hero{
    padding: 115px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    color: white;
}


.btn2{
    border-radius: 20px;
    color: #30B868;
    background-color: white;
}

.color-green{
    color: #30B868;
}
.btn-transparent{
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
.btn:hover{
     box-shadow: 0px 0px 20px #626262;
    

}
.main{
    margin: 0 120px;
}
.card-container{
   display: flex;
   flex-direction: column;
   gap: 20px;
  align-items: center;
  margin-top:30px ;
  text-align: center;

}
.card-container .cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 50px 0;
    

}
.card-container .cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
   border: none;
   padding: 20px;
   box-shadow: 0px 0px 20px #626262;
}
.card-container .cards .card img{
    padding: 3px;
    background-color: #F95555;
    border-radius: 50%;
    margin-top: 10px;

}
.card-container .cards .card h4{
    font-weight: 600px;
    font-size: 24px;
}
.banner-container .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
   
}
.banner-container .banner img{
    max-width: 600px;
    object-fit: cover;
    
}
.banner-container .banner .banner-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.banner-container .banner .banner-info .list {
  list-style: none;
  padding: 0;
}

.list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.list li::before {
  content: "";
  width: 18px;
  height: 18px;
  background: url("images/CheckCircle.png") no-repeat center;
  background-size: contain;
}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 70px 150px;
    margin: 50px 0;
    box-shadow: 0px 0px 20px #626262;
}
#footer{
    background-color: #080816;
    color: white;
    text-align: center;
}
#footer .subtitle{
    color: white;
    font-weight: 500;
    font-size: 20px;
}
#footer .main-footer{
    display: flex;
    justify-content: space-between;
    padding: 120px;
}
#footer .main-footer .footer-info{
    margin-right: 80px;
}
#footer .main-footer i{
    width: 14px;
    margin-right: 15px;
}
#footer hr{
    margin:5px 100px;
    color: #626262;
}
#footer .copyright-footer {
    padding: 20px;
}