*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}
.navbar-container{
    display: flex;
    justify-content: space-around;
    padding:20px  120px;
}
.navbar-container .nav-items{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 16px;
    list-style: none;
}
.btn{
    background-color: #30B868;
    color: white;
    padding:  16px 12px;
    font-weight: 600px;
    border: none;
    border-radius: 5px;
}
.hero-container{
    background-image: url(./images/hero-bg.png);
}
.hero-container .hero{
    padding: 115px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    color: white;
}
.hero-container .hero .btn2{
    border-radius: 20px;
    color: #30B868;
    background-color: white;
}
.hero-container .hero .title{
    font-size: bold;
    
}
.color-green{
    color: #30B868;
}
.hero-container .hero .subtitle{
    line-height: 24px;
    font-size: 18px;
}

 

.btn-transparent{
    background-color: transparent;
    border: 1px solid white;
    margin-left: 20px;
}